<header class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a class="navbar-brand" href="accounts">QUẢN LÝ TÀI KHOẢN</a>
            <a name="" id="" class="btn btn-light ml-auto" href="accounts/create" role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i><span class="d-none d-md-inline-block">&nbsp;Tạo tài khoản</span></a>
        </nav>
    </div>
</header>

<div class="container my-5">
    <router-outlet></router-outlet>
</div>
