<header class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a class="navbar-brand" href="accounts">QUẢN LÝ TÀI KHOẢN</a>
            <!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">

            </div> -->
            <a name="" id="" class="btn btn-light ml-auto" href="accounts/create" role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i><span class="d-none d-md-inline-block">&nbsp;Tạo tài khoản</span></a>
        </nav>
    </div>
</header>

<div class="container my-5">
    <router-outlet></router-outlet>
</div>
